/***{
    margin: 0;
    padding: 0;
}
table{
    border: 1px solid springgreen;
    margin: auto;
    margin-top: 200px;
}
td{
    border: 0.5px solid black;
}
tr{
    border: 1px solid springgreen;
}
tr:hover{
    background-color: blue;
    cursor: pointer;
}**/

ul{
    list-style: none;
    height: 150px;
    background-color: black;
    text-align: center;
    margin-top: 50px;
}

ul>li{
    padding: 0;
    display: inline-block;
    border: 5px solid white;
   
    transition: background-color 1s;
}
ul>li:hover{
    background-color: springgreen;
    transition: background-color 1s;
}

ul > li >a{
    transition: background-color 1s;
    
    text-decoration: none;
    color: white;
}
body{
    background-color: black;
}